<div class="px-4 py-5 my-5 text-center"
     xmlns:th="http://www.thymeleaf.org"
>
  <img class="d-block mx-auto mb-4" th:src="@{/resources/image/p1.jpg}" alt="Logo" width="200" height="200">
  <h1 class="display-5 fw-bold">Welcome to Pagraph</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Pagraph will bring your any blog to people over the world with many status.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a type="button" href="/">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">About Us</button>
      </a>
      <a type="button" href="/add">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4 mx-4">Add Blog</button>
      </a>
    </div>
  </div>
</div>