
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img class="bi me-2" width="50" height="50" role="img" aria-label="Bootstrap" src="/image/p1.jpg"/><use xlink:href="#bootstrap"></use>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary table-hover">Home</a></li>
        <li><a href="/blog" class="nav-link px-2 link-secondary table-hover">ViewAllBlog</a></li>
        <li>
          <a class="nav-link text-secondary" href="/category" id="navbarDropdown" role="button"  aria-expanded="false">
            Category
          </a>
        </li>
        <li><a href="/author" class="nav-link px-2 link-secondary table-hover">Author</a></li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/image/p2.jpg" alt="mdo" width="32" height="32" class="rounded-circle" style="object-fit: cover">
        </a>
        <ul class="dropdown-menu text-sm-center" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>




