<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/masterPage}"
>
<head>
    <meta charset="UTF-8">
    <title>Add Blog</title>
</head>
<body>
<th:block layout:fragment="addPeople">
    <div class="container mt-4">
        <form th:action="@{/add}"  method="post" enctype="multipart/form-data" th:object="${blog}">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="blogname">Title</label>
                        <input th:field="*{title}" type="text" class="form-control mt-2 form-floating me-5"
                               id="blogname"
                               aria-describedby="emailHelp"
                               placeholder="title">
                        <small id="blogHelp" class="form-text text-danger" th:if="${#fields.hasErrors('title')}"
                               th:errors="*{title}"></small>
                    </div>
                    <div class="form-group mt-2">
                        <label for="Description">Author</label>
                        <input th:field="*{author}" type="text" class="form-control mt-2" id="Description"
                               placeholder="author">
                        <small th:text="${#fields.hasErrors('author')}" th:errors="*{author}" id="authorHelp" class="form-text text-danger"></small>
                    </div>
                    <div class="form-group mt-2">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3" th:field="*{description}"></textarea>
                        <small th:text="${#fields.hasErrors('description')}" th:errors="*{description}" id="DesHelp" class="form-text text-danger"></small>
                    </div>
                    <button type="reset" class="btn btn-danger w-25 mt-3">Clear</button>
                    <button type="submit" class="btn btn-outline-secondary w-25 mt-3 mx-4">Add</button><br>
                    <select class="form-select  mt-3 w-50 pointer-event" aria-label="Default select example" multiple>
                        <option selected >Category</option>
                        <option th:each="data:${categories}" th:object="${data}" th:text="*{category}"></option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="formFile" class="form-label">Picture Upload</label>
                    <input class="form-control" type="file" id="formFile" name="file">
<!--                    <small th:text="${#fields.hasErrors('thumbnail')}" th:errors="*{thumbnail}" id="thumbHelp" class="form-text text-danger"></small>-->
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <img src="/image/placeholder.png" class="img-thumbnail mt-4" id="placeholder"
                             alt="placeholder" width="100%" height="400">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--    card1-->
</th:block>
<!--Jquery-->
<th:block layout:fragment="scriptForAddingPeople">
    <script>
        $(function () {
            const thumbnail = document.getElementById('formFile');
            const placeholder = document.getElementById('placeholder');
            thumbnail.onchange = (even) => {
                const [file] = thumbnail.files;
                if (file) {
                    placeholder.src = URL.createObjectURL(file);
                }
            }
        })
    </script>
</th:block>
<!--End of Jquery-->
</body>
</html>