<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/masterPage}"
>
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<th:block layout:fragment="blog">
    <div class="container mt-4">
        <a type="button" th:href="@{/add}">
            <button type="button" class="btn btn-outline-secondary mb-4">Go adding Blog</button>
        </a>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3  row-cols-xl-4 g-5">
            <div class="col" th:each="dates:${data}" th:object="${dates}">
                <div th:replace="~{fragments/card::card(${dates.getTitle()}, ${dates.getAuthor()},${dates.getDescription()},${dates.getThumbnail()},${size},${categories.get(0).getCategory()})}"></div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>