<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/masterPage}"
>
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<th:block layout:fragment="anyblog">
    <div class="container">
        <a type="button" th:href="@{/blog}">
            <button type="button" class="btn btn-outline-secondary mb-4"><- Back</button>
        </a>
            <div class="row" th:each="getData :${data}" th:object="${getData}">
                <div class="col">
                    <div th:replace="~{fragments/readOnlyCard::cardReadOnly(${data.title}, ${data.author},${data.description},${data.thumbnail},${category})}"></div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Topic : </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${data.title}">Johnatan Smith</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Author : </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${data.author}">example@example.com</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Description : </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${data.description}">Bay Area, San Francisco, CA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</th:block>
</body>
</html>